{% extends "core/index.html" %}
{% load static %}
{% block content %}
<divclass="container-fluid d-flex flex-row navbar-responsive-icons align-items-center">  
            
            <h2 style="text-align: center;"><strong>En Tech - o - Computers nos hemos dedicado a ofrecer soluciones
              tecnológicas innovadoras para satisfacer las necesidades informáticas de
              nuestros clientes, nos enorgullece estar a la vanguardia de las últimas
              tendencias y avances en el mundo de la tecnología. Ya sea que estés
              buscando un potente ordenador de sobremesa, un portátil versátil o
              componentes para construir tu propia máquina, estamos aquí para ayudarte
              a encontrar la solución perfecta. Nuestro equipo de expertos está
              comprometido en proporcionarte asesoramiento personalizado y un servicio
              al cliente excepcional en cada paso del camino. </strong></h2>  
          </div>
          
         
          <h2 style="text-align: center;"><strong> <divclass="container-fluid d-flex flex-row navbar-responsive-icons align-items-center">  
            Nuestra misión en Tech -
            o - Computers es mejorar tu experiencia tecnológica ofreciéndote
            productos de calidad y un servicio excepcional. 
          </div></strong></h2>
         

          <divclass="container-fluid d-flex flex-row navbar-responsive-icons align-items-center">  
            <h1 style="text-align: center;"><strong>  
                ¡Gracias por confiar en
                nosotros para todas tus necesidades informáticas!
            </strong></h1></div>
            
         

          <divclass="container-fluid d-flex flex-row navbar-responsive-icons align-items-center">  
            <h1 style="text-align: center;"><strong>  
                <img
                  src="{% static 'src/logo_TC.webp'%}"
                  alt="logo"
                  width="100"
                  height="100"
                  class="d-inline-block align-text-top"
                />
            </strong></h1></div>
        
{% endblock content %}