{% extends 'core/template.html' %}
{% block content %}
<div class="container">
    <div class="transaction-details">
        <h1>Detalle de la Transacción</h1>
        <p><strong>Número de Tarjeta:</strong> {{ transaction_detail.card_number }}</p>
        <p><strong>Fecha de la Transacción:</strong> {{ transaction_detail.transaction_date }}</p>
        <p><strong>Estado:</strong> {{ transaction_detail.state }}</p>
        <p><strong>Tipo de Pago:</strong> {{ transaction_detail.pay_type }}</p>
        <p><strong>Monto:</strong> ${{ transaction_detail.amount }}</p>
        <p><strong>Código de Autorización:</strong> {{ transaction_detail.authorization_code }}</p>
        <p><strong>Orden de Compra:</strong> {{ transaction_detail.buy_order }}</p>
        <a href="{% url 'index' %}" class="btn btn-primary mt-3">Volver al Inicio</a>
    </div>
</div>
{% endblock content%}