{% extends "core/template.html" %} {% load static %} {% load humanize %} 
{% block sources %}
<script src="{% static 'js/filter.js' %}"></script>
{% endblock sources %}
{% block content %}
<div class="row px-5 mt-3">
  <div class="col-sm-3 col-lg-2">
    <a href="{% url 'store'%}" class="product-header color-primary text-decoration-none">Productos</a>
  </div>
  <div class="col-sm-8 col-lg-10 d-flex justify-content-between">
    <p class="color-gray fs-6" id="productInfo">
      {{page_obj.object_list.count}} - {{ per_page }} de {{total}} Productos
    </p>
    <label for="orderBy" class="color-gray fs-6">
      Ordenar por:
      <select class="" name="orderBy" id="orderBy">
        <option value="revelance" {% if "revelance" in request.GET.orderBy %} selected {% endif %}>Relevancia</option>
        <option value="minor-mayor" {% if "minor-mayor" in request.GET.orderBy %} selected {% endif %}>Menor a mayor precio</option>
        <option value="mayor-minor" {% if "mayor-minor" in request.GET.orderBy %} selected {% endif %}>Mayor a menor precio</option>
      </select>
    </label>
  </div>
  <div class="col-sm-4 mobile-filter">
    <a class="" data-bs-toggle="offcanvas" href="#offcanvasFilter" role="button" aria-controls="offcanvasFilter">
      <i class="fa-solid fa-filter"></i>
    </a>
  </div>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title color-secondary fw-bold fs-2" id="offcanvasFilterLabel">Filtrar</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <span class="filter-divider">
          <h6 class="filter-header">Marca</h6>
          <div class="filter-body">
            {% for brand in brands%}
            <a class="text-decoration-none text-secondary" href="?brand={{brand.name}}">
              {{brand.name}}
            </a>
            {% endfor %}
          </div>
        </span>
        <span class="filter-divider mb-3">
          <h6 class="filter-header">Precio</h6>
          <div class="filter-body">
            <a class="text-decoration-none text-secondary" href="?price=0-20000">Hasta $20,000</a>
            <a class="text-decoration-none text-secondary" href="?price=20000-300000">$20,000 - $300,000</a>
            <a class="text-decoration-none text-secondary" href="?price=300000-500000">$300,000 - $500,000</a>
            <a class="text-decoration-none text-secondary" href="?price=500000-800000">$500,000 - $800,000</a>
            <a class="text-decoration-none text-secondary" href="?price=800000-999999999">Mas de $800,000</a>
          </div>
        </span>
    </div>
  </div>
</div>
<div class="container-fluid row px-5">
  <div class="col-sm-3 col-lg-2">
    <div class="bg-white p-2 rounded filters">
      <span class="filter-divider">
        <h6 class="filter-header">Marca</h6>
        <div class="filter-body">
        {% for brand in brands%}
        <a class="text-decoration-none text-secondary" href="?brand={{brand.name}}">
          {{brand.name}}
        </a>
        {% endfor %}
        </div>
      </span>
      <span class="filter-divider mb-3">
        <h6 class="filter-header">Precio</h6>
        <div class="filter-body">
          <a class="text-decoration-none text-secondary" href="?price=0-20000">Hasta $20,000</a>
          <a class="text-decoration-none text-secondary" href="?price=20000-300000">$20,000 - $300,000</a>
          <a class="text-decoration-none text-secondary" href="?price=300000-500000">$300,000 - $500,000</a>
          <a class="text-decoration-none text-secondary" href="?price=500000-800000">$500,000 - $800,000</a>
          <a class="text-decoration-none text-secondary" href="?price=800000-999999999">Mas de $800,000</a>
        </div>
      </span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9 col-lg-10">
    <div class="product-list">
      {% for product in products %}
      <a class="card-product border-0" href="{% url 'details' product.id %}">
        <img
          src="{{product.getImage}}"
          class="card-img-top"
          alt="Pc Escritorio Asus"
          style="height: 300px; object-fit: contain;"
        />
        <div class="body-card">
          <h5 class="card-title color-secondary fs-6 fw-bold">{{product.brand}}</h5>
          <p class="text-card text-secondary fs-sm">{{ product.name }}</p>
        </div>
        <div class="footer-card">
          <p class="card-text color-primary fs-5 fw-bolder">
            ${{product.price | intcomma}}
          </p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row me-0 pe-2">
  <div class="col-12 d-flex justify-content-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a
            class="page-link color-secondary"
            href="?page={{ page_obj.previous_page_number }}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %} 

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link color-secondary" href="?page={{ page_obj.previous_page_number }}"
            >{{ page_obj.previous_page_number }}</a
          >
        </li>
        {% endif %}

        <li class="page-item">
          <a class="page-link back-secondary text-white" href="?page={{ page_obj.number }}"
            >{{ page_obj.number }}</a
          >
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link color-secondary" href="?page={{ page_obj.next_page_number }}"
            >{{ page_obj.next_page_number }}</a
          >
        </li>
        {% endif %} 

        {% if page_obj.has_next %}
        <li class="page-item">
          <a
            class="page-link color-secondary"
            href="?page={{ page_obj.next_page_number }}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif%}
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}
