{% extends "core/template.html" %} {% load static %} {% load humanize %} 
{% block content %}
<div class="d-flex flex-row px-5 mt-3">
  <div class="col-sm-3 col-lg-2">
    <h6 class="product-header color-primary">Productos</h6>
  </div>
  <div class="col-xs 12 col-sm-9 col-lg-10 d-flex justify-content-between">
    <p class="color-gray fs-6" id="productInfo">
      {{page_obj.object_list.count}} - {{ per_page }} de {{total}} Productos
    </p>
    <label for="orderBy" class="color-gray fs-6">
      Orderdar por:
      <select class="" name="orderBy" id="orderBy">
        <option value="revelance" selected>Relevancia</option>
        <option value="minor-mayor">Menor a mayor precio</option>
        <option value="mayor-minor">Mayor a menor precio</option>
      </select>
    </label>
  </div>
</div>
<div class="container-fluid row px-5">
  <div class="col-sm-3 col-lg-2">
    <div class="bg-white p-2 rounded">
      <span class="filter-divider">
        <h6 class="filter-header">Marca</h6>
        <div class="filter-body">
          <div class="checkbox-wrapper-46">
            <input type="checkbox" id="cbx-46" class="inp-cbx" />
            <label for="cbx-46" class="cbx"
              ><span>
                <svg viewBox="0 0 12 10" height="10px" width="12px">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
              ><span>ASUS</span>
            </label>
          </div>
          <div class="checkbox-wrapper-46">
            <input type="checkbox" id="cbx-47" class="inp-cbx" />
            <label for="cbx-47" class="cbx"
              ><span>
                <svg viewBox="0 0 12 10" height="10px" width="12px">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
              ><span>HP</span>
            </label>
          </div>
          <div class="checkbox-wrapper-46">
            <input type="checkbox" id="cbx-48" class="inp-cbx" />
            <label for="cbx-48" class="cbx"
              ><span>
                <svg viewBox="0 0 12 10" height="10px" width="12px">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
              ><span>LENOVO</span>
            </label>
          </div>
          <div class="checkbox-wrapper-46">
            <input type="checkbox" id="cbx-49" class="inp-cbx" />
            <label for="cbx-49" class="cbx"
              ><span>
                <svg viewBox="0 0 12 10" height="10px" width="12px">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
              ><span>MSI</span>
            </label>
          </div>
        </div>
      </span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9 col-lg-10">
    <div class="product-list">
      {% for product in products %}
      <a class="card-product border-0" href="#">
        <img
          src="{{product.getImage}}"
          class="card-img-top"
          alt="Pc Escritorio Asus"
          style="height: 300px; object-fit: contain;"
        />
        <div class="body-card">
          <h5 class="card-title color-secondary fs-6 fw-bold">{{product.brand}}</h5>
          <p class="text-card text-secondary fs-sm">{{ product.name }}</p>
        </div>
        <div class="footer-card">
          <p class="card-text color-primary fs-5 fw-bolder">
            ${{product.price | intcomma}}
          </p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row me-0 pe-2">
  <div class="col-12 d-flex justify-content-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a
            class="page-link color-secondary"
            href="?page={{ page_obj.previous_page_number }}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %} 

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link color-secondary" href="?page={{ page_obj.previous_page_number }}"
            >{{ page_obj.previous_page_number }}</a
          >
        </li>
        {% endif %}

        <li class="page-item">
          <a class="page-link back-secondary text-white" href="?page={{ page_obj.number }}"
            >{{ page_obj.number }}</a
          >
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link color-secondary" href="?page={{ page_obj.next_page_number }}"
            >{{ page_obj.next_page_number }}</a
          >
        </li>
        {% endif %} 

        {% if page_obj.has_next %}
        <li class="page-item">
          <a
            class="page-link color-secondary"
            href="?page={{ page_obj.next_page_number }}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif%}
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}
