{% extends "core/template.html" %}
{% load static %}
{% load humanize %}
{% block sources %}
<link rel="stylesheet" href="{% static 'css/auth.css'%}">
<script src="{% static 'js/payment.js'%}"></script>
<script>
    const total = {{recipe.get_cart_total}};
</script>
{% endblock sources %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-7">
        <div class="footer-header">Shipping</div>
        <div class="card border-0 shipping-container" style="position: relative;">
          <div class="shipping-loader-container">
            <div class="typing-indicator shipping-loader" id="loader">
              <div class="typing-circle"></div>
              <div class="typing-circle"></div>
              <div class="typing-circle"></div>
              <div class="typing-shadow"></div>
              <div class="typing-shadow"></div>
              <div class="typing-shadow"></div>
            </div>
          </div>
          <div class="card-body" style="height: 500px;">
            <form action="" id="shippingForm" style="display: none;">
              {% csrf_token %}
              <div class="form-floating mb-3">
                  <input
                    type="text"
                    name="address"
                    id="address"
                    placeholder="address"
                    class="form-control border-0 border-bottom rounded-0 bg-transparent input-disabled" required disabled
                  />
                <label for="address">Direccion</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="text" name="state" id="state" class="form-control border-0 border-bottom rounded-0 bg-transparent input-disabled" placeholder="Region" required disabled/>
                <label for="state">Region</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="text" name="city" id="city" class="form-control border-0 border-bottom rounded-0 bg-transparent input-disabled" placeholder="ciudad" required disabled/>
                <label for="city">Ciudad</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="text" name="zip" id="zip" class="form-control border-0 border-bottom rounded-0 bg-transparent input-disabled" placeholder="Codigo postal" required disabled/>
                <label for="zip">Codigo postal</label>
              </div>
              <div class="mb-3">
                  <label for="zip">Comentarios</label>
                    <textarea name="comments" id="comments" class="form-control border-0 border-bottom rounded-0 bg-transparent input-disabled" style="resize: none;" required disabled></textarea>
            </div>
              <button type="submit" id="shipping-btn" class="btn btn-back mt-4 w-100">Pagar</button>
            </form>
          </div>
        </div>
    </div>
    <div class="col-md-5">
        <h2 class="footer-header">Resumen de compra</h2>
        <table class="table">
            <tr>
                <td>Subtotal</td>
                <td class="color-secondary fw-semibold">${{recipe.get_cart_total | intcomma}}</td>
            </tr>
            <tr>
                <td>Envio</td>
                <td class="color-secondary fw-semibold">$0</td>
            </tr>
            <tr>
                <td>Total</td>
                <td class="color-secondary fw-semibold">${{recipe.get_cart_total | intcomma}}</td>
            </tr>
            <tr>
                <td>Tarjeta de prueba</td>
                <td class="color-secondary fw-semibold"><small>num: 4051 8856 0044 6623 - cvv: 123 - exp: 12/28</small></td>
            </tr>
        </table>

        <div id="map"></div>

        <!-- prettier-ignore -->
        <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: "AIzaSyA5D3ZY9Iq_gVi3hJUV4Ble5Sxm5Lad7Jw", v: "weekly"});</script>
        <script src="{% static 'js/shipping.js'%}"></script>
    </div>
  </div>
</div>
{% endblock content %}
