{% extends "auth_user/admin/template.html" %}
{% load static %}
{% block content %}
<h5 class="product-header fw-bold fs-3">Componentes</h5>
<div class="activity-container">
    <div class="image-container img-one">
      <a href="{% url 'dash-storage' %}">
        <img src="{% static 'src/ssd.webp'%}" alt="Storage" />
        <div class="overlay">
          <h3>Almacenamiento</h3>
        </div>
      </a>
    </div>

    <div class="image-container img-two">
      <a href="{% url 'dash-ram' %}">
        <img src="{% static 'src/ram.webp'%}" alt="ram" />
        <div class="overlay">
          <h3>Memorias</h3>
        </div>
      </a>
    </div>
    <div class="image-container img-three">
      <a href="{% url 'dash-graphics' %}">
        <img src="{% static 'src/graphic.webp'%}" alt="Graphic" />
        <div class="overlay">
          <h3>Tarjetas Graficas</h3>
        </div>
      </a>
    </div>

    <div class="image-container img-four">
      <a href="{% url 'dash-screen' %}">
        <img src="{% static 'src/screen.webp'%}" alt="screen" />
        <div class="overlay">
          <h3>Pantallas</h3>
        </div>
      </a>
    </div>

    <div class="image-container img-five">
      <a href="{% url 'dash-processor' %}">
        <img src="{% static 'src/processor.webp'%}" alt="Processor" />
        <div class="overlay">
          <h3>Procesadores</h3>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock content %}