{% extends "auth_user/admin/template.html" %}
{% block content %}

<div class="row mb-3">
  <div class="col-md-10 col-sm-12">
    <h5 class="product-header fw-bold fs-3">Graficas</h5>
  </div>
  <div class="col-md-2 col-sm-12">
    <a href="{% url 'dash-addcomponent' 'graphics' %}" class="btn btn-back px-4">Agregar</a>
  </div>
</div>
<table class="table ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">VRAM</th>
        <th scope="col">Ventiladores</th>
      </tr>
    </thead>
    <tbody>

    {% for u in graphics %}
      <tr scope="row">
        <td>{{ u.id }}</td>
        <td>{{ u.name }}</td>
        <td>{{u.vram}} GB</td>
        <td>{{u.fanquantity}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
{% endblock content %}