{% extends "auth_user/admin/template.html" %}
{% load humanize %}
{% block content %}
<h5 class="product-header fw-bold fs-3">Productos</h5>
<div class="product-list">
{% for product in products %}
<a class="card-product border-0" href="{% url 'details' product.id %}">
    <img
      src="{{product.getImage}}"
      class="card-img-top"
      alt="Pc Escritorio Asus"
      style="height: 300px; object-fit: contain;"
    />
    <div class="body-card">
      <h5 class="card-title color-secondary fs-6 fw-bold">{{product.brand}}</h5>
      <p class="text-card text-secondary fs-sm">{{ product.name }}</p>
    </div>
    <div class="footer-card">
      <p class="card-text color-primary fs-5 fw-bolder">
        ${{product.price | intcomma}}
      </p>
    </div>
</a>
{% endfor %}
</div>
<div class="row me-0 pe-2">
  <div class="col-12 d-flex justify-content-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a
            class="page-link color-secondary"
            href="?page={{ page_obj.previous_page_number }}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %} 

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link color-secondary" href="?page={{ page_obj.previous_page_number }}"
            >{{ page_obj.previous_page_number }}</a
          >
        </li>
        {% endif %}

        <li class="page-item">
          <a class="page-link back-secondary text-white" href="?page={{ page_obj.number }}"
            >{{ page_obj.number }}</a
          >
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link color-secondary" href="?page={{ page_obj.next_page_number }}"
            >{{ page_obj.next_page_number }}</a
          >
        </li>
        {% endif %} 

        {% if page_obj.has_next %}
        <li class="page-item">
          <a
            class="page-link color-secondary"
            href="?page={{ page_obj.next_page_number }}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif%}
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}