{% extends "auth_user/admin/template.html" %}

{% block content %}
  <h5 class="product-header fw-bold fs-3">Ram</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      {% for u in ram %}
        <tr scope="row">
          <td>{{ u.id }}</td>
          <td>{{ u.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <a href="{% url 'dash-addcomponent' 'ram' %}" class="btn btn-back">Agregar</a>

{% endblock content %}