{% extends "auth_user/admin/template.html" %}
{% block content %}
<h1>Estos son los usuarios</h1>
<table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Rut</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
      </tr>
    </thead>
    <tbody>


    {% for u in usuarios %}
      <tr>
        <th scope="row"></th>
        <td>{{ u.email }}</td>
        <td>{{ u.rut }}</td>
        <td>{{ u.first_name }}</td>
        <td>{{ u.last_name }}</td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
<a href="{% url 'index'%}">Esto lleva al index</a>
{% endblock content %}