{% extends "auth_user/admin/template.html" %}
{% load static %}
{% block sources%}
<link rel="stylesheet" href="{% static 'css/auth.css'%}">
{% endblock sources%}
{% block content %}
<div class="row">
  <div class="col-md-7">
    <h5 class="product-header fw-bold fs-3">Usuarios</h5>
  </div>
  <div class="col-md-5">
    <div class="form-floating mb-3">
      <input type="text" class="form-control border-0 border-bottom rounded-0 bg-transparent" name="search" id="search" placeholder="name" required onkeyup="searchUser()">
      <label for="name">Buscar</label>
  </div>
  </div>
</div>
<script>
  function searchUser() {
    let txtValue;
    const input = document.getElementById("search");
    const filter = input.value.toUpperCase();
    const table = document.getElementById("user-table");
    const tr = table.getElementsByTagName("tr");
    for (let i = 0; i < tr.length; i++) {
      const td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
<table class="table ">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Rut</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody id="user-table">


    {% for u in usuarios %}
      <tr scope="row">
        <td>{{ u.email }}</td>
        <td>{{ u.rut }}</td>
        <td>{{ u.first_name }}</td>
        <td>{{ u.last_name }}</td>
        <td>
          <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class='bx bx-dots-horizontal-rounded fs-3 color-secondary'></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Editar</a></li>
              <li><a class="dropdown-item" href="{% url 'dash-ordersusers' u.rut %}">Ver Pedidos</a></li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}