{% extends 'core/template.html' %}
{% load static %}
{% block sources %}
<link rel="stylesheet" href="{% static 'css/auth.css'%}">
{% endblock sources %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5">
            <h4 class="fw-bold color-secondary footer-header">Inicia sesion</h4>
            <div class="card p-2 border-0 mb-5">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control border-0 border-bottom rounded-0 bg-transparent" name="email" id="email" placeholder="name@example.com" required>
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control border-0 border-bottom rounded-0 bg-transparent" name="password" id="password" placeholder="password" required>
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="mb-3 text-end">
                        <a class="color-secondary text-decoration-none" href="{% url 'reset_password' %}">Olvidaste tu contraseña?</a>
                    </div>
                    <button type="submit" class="btn btn-back w-100">Ingresa</button>
                    <div id="or">O</div>
                    <a href="{% url 'register' %}" class="btn btn-border w-100">Registrate</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}