{% extends 'core/template.html'%} {% load static %} {% block sources %}
<link rel="stylesheet" href="{% static 'css/auth.css'%}" />
{% endblock sources %} {% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-5 mt-5">
      <h4 class="fw-bold color-secondary footer-header mb-3">
        Cambiar contraseña
      </h4>
      <div class="card p-2 border-0 mb-5">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" value="{{request.user.email}}" />
          <div class="form-floating mb-3 mt-2">
            <input
              type="password"
              class="form-control border-0 border-bottom rounded-0 bg-transparent"
              name="new_password1"
              placeholder="new password"
              autocomplete="new-password"
              required=""
              aria-describedby="id_new_password1_helptext"
              id="id_new_password1"
              aria-autocomplete="list"
            />
            <label for="new_password1">Nueva contraseña</label>
          </div>
          <div class="form-floating mb-3 mt-2">
            <input
              type="password"
              class="form-control border-0 border-bottom rounded-0 bg-transparent"
              name="new_password2"
              placeholder="new password"
              autocomplete="new-password"
              required=""
              aria-describedby="id_new_password1_helptext"
              id="id_new_password2"
              aria-autocomplete="list"
            />
            <label for="new_password2">confirma nueva contraseña</label>
          </div>
          <button type="submit" class="btn btn-back w-100">Enviar</button>
        </form>
      </div>
    </div>
    <div class="col-md-3 mb-5 mt-5">
        {% if form.errors%}
        <div class="card p-2 border-0 mb-5" id="id_new_password1_helptext">
          <ul>
            <li>
              Your password can’t be too similar to your other personal
              information.
            </li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
            <li>The password is too similar to the email.</li>
          </ul>
        </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
