{% extends 'core/template.html'%}
{% load static %}
{% block sources %}
<link rel="stylesheet" href="{% static 'css/auth.css'%}">
{% endblock sources %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5">
            <h4 class="fw-bold color-secondary footer-header">Cambiar contraseña</h4>
            <div class="card p-2 border-0 mb-5">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3 mt-2">
                        <input type="email" class="form-control border-0 border-bottom rounded-0 bg-transparent" name="email" id="email" placeholder="name@example.com" required>
                        <label for="email">Email address</label>
                    </div>
                    <button type="submit" class="btn btn-back w-100">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}