{% extends "core/template.html" %} {% load humanize%} {% load static%} {% block content %}
<div class="container-fluid">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    da-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="{% static 'src/slider/1.webp' %}"
          class="d-block w-100"
          alt="1"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'src/slider/2.webp' %}"
          class="d-block w-100"
          alt="2"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'src/slider/3.webp' %}"
          class="d-block w-100"
          alt="3"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <i class="fa-solid fa-chevron-left color-secondary"></i>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <i class="fa-solid fa-chevron-right color-secondary"></i>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="d-flex flex-column align-items-center mt-5">
    <h3 class="border-b-primary color-primary">No te pierdas</h3>
    <div class="product-list">
      {% for product in top_prods %}
      <a class="card-product border-0" href="{% url 'details' product.id %}">
        <img
          src="{{product.getImage}}"
          class="card-img-top"
          alt="Pc Escritorio Asus"
          style="height: 300px; object-fit: contain;"
        />
        <div class="body-card">
          <h5 class="card-title color-secondary fs-6 fw-bold">{{product.brand}}</h5>
          <p class="text-card text-secondary fs-sm">{{ product.name }}</p>
        </div>
        <div class="footer-card">
          <p class="card-text color-primary fs-5 fw-bolder">
            ${{product.price | intcomma}}
          </p>
        </div>
      </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content%}
