{% load static %} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech O Computers</title>
    <link
      rel="shortcut icon"
      href="{% static 'src/favicon.ico'%}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/payment.js' %}"></script>
    <script>
      const user = "{{request.user}}";

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie("csrftoken");
    </script>
    {% block sources %} {% endblock sources %}
    <link rel="stylesheet" href="{%static 'css/global.css'%}" />
  </head>
  <body class="overflow-x-hidden">
    {% if messages %}
    <div class="toast-container position-static">
      {% for message in messages %}
      <div class="toast-container position-fixed top-0 start-0 p-3">
        <div
          id="liveToast"
          class="toast show bg-white"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header back-secondary text-white">
            <strong class="me-auto">{{message.tags | title}}</strong>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body color-secondary">{{message}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <nav class="navbar back-primary">
      <div class="navbar-dist">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img
            src="{% static 'src/logo.webp'%}"
            alt="Logo"
            width="200"
            height="auto"
            class="d-inline-block align-text-top"
          />
        </a>
        <div class="container-fuild">
          <form
            class="d-flex bg-white rounded-1 pl-1 pe-1 me-2 searchForm"
            role="search"
            action="{% url 'store'%}"
          >
            <input
              class="form-control-sm w-100 outline-0 border-0"
              type="search"
              name="search"
              autocomplete="off"
              placeholder="Busca dentro de nuestros productos"
              aria-label="Search"
            />
            <span class="divider"></span>
            <button class="bg-transparent border-0">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
        <div class="" id="navbarNav">
          <div
            class="container-fluid d-flex flex-row navbar-responsive-icons align-items-center"
          >
            <a
              {% if not user.is_authenticated%} href="{% url 'login'%}"
              {%else%}
              href="{% url 'index'%}"
              {%endif%}
              class="d-flex flex-row align-items-center text-decoration-none gap-2"
            >
              <i class="fa-regular fa-user text-white"></i>
              <div class="text-white user-navbar">
                <p class="fw-semibold mb-0">Hola!</p>
                <p class="fw-bold">
                  {% if not user.is_authenticated %}Inicia Sesión {% else%} {{user.first_name | title}} {{user.last_name | title}} {%endif %}
                </p>
              </div>
            </a>
            <button
              class="btn bg-transparent canva-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"
            >
              <i class="fa-solid fa-bars text-white"></i>
            </button>
            <span class="divider"></span>
            <a
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight"
            >
              <i class="fa-solid fa-cart-shopping text-white"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <nav
      class="navbar bg-white color-primary justify-content-center"
      id="productNav"
    >
      <div class="product-nav-dist">
        <ul>
          <li>
            <a href="{% url 'store'%}">Todos los productos</a>
          </li>
          <li></li>
          <li>
            <a href="{% url 'store'%}?type=notebooks">Notebook</a>
          </li>
          <li>
            <a href="{% url 'store'%}?type=desktop">Escritorio</a>
          </li>
          <li>
            <a href="{% url 'store'%}?type=all-in-one">All in One</a>
          </li>
        </ul>
      </div>
    </nav>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header back-primary text-white">
        <img
          src="{% static 'src/logo.webp'%}"
          alt="Logo"
          width="200"
          height="auto"
          class="d-inline-block align-text-top"
        />
        <a class="btn-x" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </a>
      </div>
      <div class="offcanvas-body">
        <ul class="offcanvas-list">
          <li>
            <a href="{% url 'store'%}">Todos los productos</a>
          </li>
          <li>
            <a href="{% url 'store'%}?type=notebooks">Notebook</a>
          </li>
          <li>
            <a href="{% url 'store'%}?type=desktop">Escritorio</a>
          </li>
          <li>
            <a href="{% url 'store'%}?type=all-in-one">All in One</a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-end off-canvas-cart"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <h5
          class="offcanvas-title color-primary fw-semibold"
          id="offcanvasRightLabel"
        >
          Resumen
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-flex flex-column h-100 justify-content-between">
          <div class="d-flex flex-row justify-content-between">
            <p class="fw-semibold" style="width: 250px;">Producto</p>
            <p class="fw-semibold">Cantidad</p>
            <p class="fw-semibold">Precio</p>
          </div>
          <span class="resumen-divider"></span>
          <div class="resumen-cart">
            {% for item in items %}
            <div class="d-flex flex-row justify-content-between">
              <div class="d-flex flex-row gap-2">
                <img src="{{item.product.getImage}}" width="80px" height="auto" style="object-fit: contain;" alt="{{item.product.name}}">
                <p style="text-overflow: ellipsis; overflow: hidden; width: 250px; max-height: 100px; display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
                  {{item.product.name}}
                </p>
              </div>
              <div class="">
                <a
                  class="mx-2 text-decoration-none color-primary"
                  style="height: fit-content;"
                  >{{item.quantity}}</a>
              </div>
              <p class="color-secondary fw-semibold">
                ${{item.product.price | intcomma}}
              </p>
            </div>
            {% endfor %}
          </div>
          <div class="module-cart p-4">
            <span class="resumen-divider"></span>
            <p class="d-flex flex-row justify-content-between text-secondary">
              Pago con Webpay/Onepay: <span>${{recipe.get_cart_total | intcomma}}</span>
            </p>
            <p class="d-flex flex-row justify-content-between text-secondary">
              Envio: <span>$0</span>
            </p>
            <span class="resumen-divider"></span>
            <p class="d-flex flex-row justify-content-between text-secondary">
              Total: <span>${{recipe.get_cart_total | intcomma}}</span>
            </p>
            <div class="d-flex flex-row gap-2">
              <a class="btn fw-semibold back-secondary text-white w-100" href="{% url 'shipping' %}">
                Pagar
              </a>
              <a href="{% url 'cart'%}" class="btn fw-semibold back-secondary text-white w-100">
                Ir al carro
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block content %} {% endblock content %}
    <footer class="back-primary">
      <div class="footer-container">
        <div class="w-full footer text-white">
          <div class="d-flex flex-column">
            <h6 class="footer-header">Ayuda</h6>
            <ul class="footer-list">
              <li>
                <a href="{% url 'helpcenter' %}">Centro de ayuda</a>
              </li>
              <li>
                <a href="{% url 'tracking' %}">Seguimiento de mi compra</a>
              </li>
              <li>
                <a href="{% url 'contactform' %}">Formulario de contacto</a>
              </li>
            </ul>
          </div>
          <div class="d-flex flex-column">
            <h6 class="footer-header">Nosotros</h6>
            <ul class="footer-list">
              <li>
                <a href="{% url 'whoweare' %}">Quiénes somos</a>
              </li>
              <li>
                <a href="{% url 'terms' %}">Términos y Condiciones</a>
              </li>
              <li>
                <a href="{% url 'ppolicy' %}">Política de privacidad</a>
              </li>
            </ul>
          </div>
          <div class="d-flex flex-column">
            <h6 class="footer-header">Comunidad</h6>
            <ul class="footer-list">
              <li>
                <a
                  href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                  target="_blank"
                  >Instagram</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/watch?v=YBS8rJvxnKo"
                  target="_blank"
                  >Twitter</a
                >
              </li>
            </ul>
          </div>
        </div>
        <span class="footer-divider"></span>
        <div>
          <p class="text-center text-white">
            &copy; 2024 Tech O Computers. Todos los derechos reservados.
          </p>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
